<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <property name="APP_NAME" value="socket-chat-room-nio" />
    <property name="LOG_PATH_LINUX" value="/mnt/log/" />
    <property name="LOG_PATH_WIN" value="E://mnt/log/" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger:%L - %msg%n" />

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">　　　　　　　　　　　
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">　　　　　　　　　　　　　　
                <fileNamePattern>${LOG_PATH_WIN}/${APP_NAME}/%d{yyyy-MM-dd}.log</fileNamePattern>　　　　　　　　　　　　　　
                <maxHistory>30</maxHistory>　　　　　　　　　　　　
            </rollingPolicy>　　　　　　　　　　
            <encoder>　　　　　　　　　　　　　　
                <pattern>${LOG_PATTERN}</pattern>　　　　　　　　　　　　
            </encoder>　　　　　　　　　　
        </appender>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">　　　　　　
            <encoder>　　　　　　　　
                <pattern>${LOG_PATTERN}</pattern>　　　　　　
            </encoder>　　　　　　
        </appender>
        　　　
        <root level="INFO">　　　　　　　　　　　　
            <appender-ref ref="FILE"/>　　　　　　　　　　
        <!-- <appender-ref ref="STDOUT"/>-->　　　　　　
        </root>

</configuration>